@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --red: #F41F4E;
    --black: #000000;
    --white: #FBFBFB;
    --rose: #FFC2C7; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: var(--rose);
}

.header{
    width: 100%;
    height: 40px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.header img{
    position: absolute;
    left: 10px;
}


.App{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 100%;
    max-width: 400px;
    background: var(--white);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 2px 65px rgba(0, 0, 0, .45);
}

.display{
    padding: 20px;
    text-align: right;
    background-color: var(--black);
    color: var(--white);
    font-size: 25px;
    font-weight: 300;
}

.display span{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.operators{
    display: flex;
}

.operators button{
    background-color: var(--red);
    border: none;
    outline: none;
    padding: 20px;
    cursor: pointer;
    transition: .4s;
    flex: 1 1 0%;
    color: var(--white);
    font-weight: bolder;
    font-size: 15px;
}

.digits{
    display: flex;
    flex-wrap: wrap;
}

.digits button{
    border: none;
    outline: none;
    padding: 30px;
    background-color:var(--black);
    color: var(--white);
    cursor: pointer;
    transition: .4s;
    flex: 1 1 33.333%;
    max-width: 33.333%;
    font-size: 15px;
    font-weight: bold;
}

button:hover{
    opacity: 0.9;
}

